In [5]:
import pandas as pd
import math
from pathlib import Path

In [6]:
pd.set_option("display.max_columns",None)

In [7]:
store = pd.read_csv('data/p_dsi/teams2022/bridgestone_data/data/store.csv', sep='|')
vehicle = pd.read_csv('data/p_dsi/teams2022/bridgestone_data/data/vehicle_sample.csv').drop('Unnamed: 0',1)
product = pd.read_csv('data/p_dsi/teams2022/bridgestone_data/data/product.csv',sep='|')
individual = pd.read_csv('data/p_dsi/teams2022/bridgestone_data/data/individual_sample.csv').drop('Unnamed: 0',1)
individual.rename(columns={'MZB_INDIV_ID': 'INDIV_ID'}, inplace=True)

/var/folders/lr/hrpr063x28jd67wnc08d040w0000gn/T/ipykernel_19784/1274494568.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  vehicle = pd.read_csv('data/p_dsi/teams2022/bridgestone_data/data/vehicle_sample.csv').drop('Unnamed: 0',1)
/var/folders/lr/hrpr063x28jd67wnc08d040w0000gn/T/ipykernel_19784/1274494568.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  individual = pd.read_csv('data/p_dsi/teams2022/bridgestone_data/data/individual_sample.csv').drop('Unnamed: 0',1)

In [8]:
# get the mega table that joined all datasets in the path
def joiner(store,vehicle,product,individual):
    file_path = 'data/p_dsi/teams2022/bridgestone_data/data/'
    #output_file = 'mega_table.csv' 
    p = Path(file_path)
    list = []
    for sales_name in p.rglob('sales*.csv'): 
        list.append(sales_name)
    all_sales = pd.read_csv(list[0]).drop('Unnamed: 0',1)
    for i in range(1,len(list)):
        all_sales = pd.concat([all_sales,pd.read_csv(list[i]).drop('Unnamed: 0',1)])
    all_sales = pd.merge(all_sales,store,'left',["STORE_ID", "STORE_ID"])
    all_sales = pd.merge(all_sales,vehicle,'left',["VEHICLE_ID", "VEHICLE_ID"])
    all_sales = pd.merge(all_sales,product,'left',["ARTICLE_ID", "ARTICLE_ID"])
    all_sales = pd.merge(all_sales,individual,'left',["INDIV_ID", "INDIV_ID"])
    all_sales.to_csv('mega_df.csv',index=False)
    return(all_sales)

In [9]:
# 4M rows runs in 10 seconds using colab GPU. 
# Sample is ~ 1/150th of the size of actual so expect 1500s (25 minutes) for largest joins 
joiner(store,vehicle,product,individual)

/var/folders/lr/hrpr063x28jd67wnc08d040w0000gn/T/ipykernel_19784/1242712885.py:9: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  all_sales = pd.read_csv(list[0]).drop('Unnamed: 0',1)
/var/folders/lr/hrpr063x28jd67wnc08d040w0000gn/T/ipykernel_19784/1242712885.py:11: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  all_sales = pd.concat([all_sales,pd.read_csv(list[i]).drop('Unnamed: 0',1)])

,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER
0,337934,990994590,2018-07-23,7046930,318422234.0,944814728,0.0,0.00,MD,21740,HAGERSTOWN,NaN,NaN,NaN,NaN,4.0,Services,81.0,Miscellaneous Services,109.0,Inspection Services,473.0,Courtesy Check,N,NaN,NaN,NaN,Y,R,N
1,337934,990994590,2018-07-23,7001647,318422234.0,944814728,0.0,-8.55,MD,21740,HAGERSTOWN,NaN,NaN,NaN,NaN,4.0,Services,78.0,Heating/Cooling Systems,22008.0,Discount Heating/Cooling,22010.0,Discount Heating/Cooling,Y,NaN,NaN,NaN,Y,R,N
2,337934,990994590,2018-07-23,7001715,318422234.0,944814728,0.0,-50.45,MD,21740,HAGERSTOWN,NaN,NaN,NaN,NaN,4.0,Services,78.0,Heating/Cooling Systems,105.0,Air Conditioning Services,371.0,A/C Inspection,Y,NaN,NaN,NaN,Y,R,N
3,337934,990994590,2018-07-23,7096547,318422234.0,944814728,0.0,10.00,MD,21740,HAGERSTOWN,NaN,NaN,NaN,NaN,4.0,Services,78.0,Heating/Cooling Systems,105.0,Air Conditioning Services,386.0,A/C System Leak Detection,N,NaN,NaN,NaN,Y,R,N
4,337934,990994590,2018-07-23,7001647,318422234.0,944814728,0.0,0.00,MD,21740,HAGERSTOWN,NaN,NaN,NaN,NaN,4.0,Services,78.0,Heating/Cooling Systems,22008.0,Discount Heating/Cooling,22010.0,Discount Heating/Cooling,Y,NaN,NaN,NaN,Y,R,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8001005,328307,991045250,2017-11-30,7006062,287704505.0,961712384,0.0,0.00,IL,62225,"ST.LOUIS,M",NaN,NaN,NaN,NaN,4.0,Services,62.0,Tire Services,91.0,Tire Services,147.0,Balance,Y,NaN,NaN,NaN,Y,R,N
8001006,328307,991045250,2017-11-30,7001665,287704505.0,961712384,0.0,0.00,IL,62225,"ST.LOUIS,M",NaN,NaN,NaN,NaN,4.0,Services,62.0,Tire Services,91.0,Tire Services,21996.0,Discount Tire Services,Y,NaN,NaN,NaN,Y,R,N
8001007,328307,991045250,2017-11-30,7006472,287704505.0,961712384,0.0,0.00,IL,62225,"ST.LOUIS,M",NaN,NaN,NaN,NaN,4.0,Services,62.0,Tire Services,91.0,Tire Services,139.0,Tire Mounting,N,NaN,NaN,NaN,Y,R,N
8001008,328307,991045250,2017-11-30,7005229,287704505.0,961712384,0.0,199.99,IL,62225,"ST.LOUIS,M",NaN,NaN,NaN,NaN,4.0,Services,83.0,Steering/Suspension/Drivetrain,96.0,Alignments,190.0,Lifetime Alignment,N,NaN,NaN,NaN,Y,R,N
8001009,328307,991045250,2017-11-30,7005180,287704505.0,961712384,0.0,-20.00,IL,62225,"ST.LOUIS,M",NaN,NaN,NaN,NaN,4.0,Services,83.0,Steering/Suspension/Drivetrain,96.0,Alignments,190.0,Lifetime Alignment,Y,NaN,NaN,NaN,Y,R,N

In [10]:
df = pd.read_csv('mega_df.csv')

In [12]:
# filter a new table with start date and end date
def Date_filter(df, startYear, startMonth, endYear, endMonth,file_name):
    df['Year'] = df['DATE'].str.split('-', expand=True)[0]
    df['Month'] = df['DATE'].str.split('-', expand=True)[1]
    if startYear == endYear:
        df_mod = df[(df['Month'].astype(int) >= startMonth) & 
                (df['Month'].astype(int) <= endMonth) & 
                (df['Year'].astype(int) == startYear)]
        #df_mod.to_csv(file_name)
        return(df_mod)
    elif startYear <= endYear:
        df1 = df[(df['Year'].astype(int) >= startYear+1) & 
                 (df['Year'].astype(int) <= endYear-1)]
        df2 = df[(df['Month'].astype(int) >= startMonth) & 
                (df['Month'].astype(int) <= 12) & 
                (df['Year'].astype(int) == startYear)]
        df3 = df[(df['Month'].astype(int) >= 1) & 
                (df['Month'].astype(int) <= endMonth) & 
                (df['Year'].astype(int) == endYear)]
        df_mod = pd.concat([df1, df2, df3])
        df_mod.to_csv(file_name,index=False)
        return(df_mod)

In [13]:
Date_filter(df,2016,2,2018,3,file_name = 'Feb_2016-Mar_2018.csv')

,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER,Year,Month
187662,283551,992288700,2017-08-19,7097782,297825305.0,936436655,0.0,24.07,TX,76710,NON-MET TX,NaN,NaN,NaN,NaN,5.0,Tires,20158.0,Road Hazard,20159.0,Road Hazard,20160.0,Road Hazard,N,NONE,NONE,NONE,Y,R,N,2017,08
187663,351338,990699760,2017-08-19,7001123,297825305.0,936436655,0.0,0.00,TX,78666,"AUSTIN,TX",NaN,NaN,NaN,NaN,4.0,Services,62.0,Tire Services,91.0,Tire Services,155.0,Misc. Tire Service,N,NaN,NaN,NaN,Y,R,N,2017,08
187664,283551,992288700,2017-08-19,7046930,297825305.0,936436655,0.0,0.00,TX,76710,NON-MET TX,NaN,NaN,NaN,NaN,4.0,Services,81.0,Miscellaneous Services,109.0,Inspection Services,473.0,Courtesy Check,N,NaN,NaN,NaN,Y,R,N,2017,08
187665,283551,992288700,2017-08-19,7006472,297825305.0,936436655,0.0,0.00,TX,76710,NON-MET TX,NaN,NaN,NaN,NaN,4.0,Services,62.0,Tire Services,91.0,Tire Services,139.0,Tire Mounting,N,NaN,NaN,NaN,Y,R,N,2017,08
187666,283551,992288700,2017-08-19,102774,297825305.0,936436655,1.0,21.58,TX,76710,NON-MET TX,NaN,NaN,NaN,NaN,5.0,Tires,26.0,Passenger Tires,29.0,Performance Tires,40.0,Ultra High Performance Summer,N,245,40,17,Y,R,N,2017,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7620180,20745,992276710,2018-03-21,7001674,321029100.0,946164474,0.0,-0.57,MS,39402,NON-MET MS,NaN,NaN,NaN,NaN,4.0,Services,74.0,Engine Systems,106.0,Lubrication Services,389.0,Oil Change,Y,NaN,NaN,NaN,Y,R,N,2018,03
7620181,20745,992276710,2018-03-21,7001674,321029100.0,946164474,0.0,-8.49,MS,39402,NON-MET MS,NaN,NaN,NaN,NaN,4.0,Services,74.0,Engine Systems,106.0,Lubrication Services,389.0,Oil Change,Y,NaN,NaN,NaN,Y,R,N,2018,03
7620182,20745,992276710,2018-03-21,7003287,321029100.0,946164474,0.0,-0.94,MS,39402,NON-MET MS,NaN,NaN,NaN,NaN,4.0,Services,74.0,Engine Systems,106.0,Lubrication Services,389.0,Oil Change,Y,NaN,NaN,NaN,Y,R,N,2018,03
7620183,20745,992276710,2018-03-21,7003287,321029100.0,946164474,0.0,0.00,MS,39402,NON-MET MS,NaN,NaN,NaN,NaN,4.0,Services,74.0,Engine Systems,106.0,Lubrication Services,389.0,Oil Change,Y,NaN,NaN,NaN,Y,R,N,2018,03
7620184,20745,992276710,2018-03-21,7008995,321029100.0,946164474,1.0,4.99,MS,39402,NON-MET MS,NaN,NaN,NaN,NaN,4.0,Services,74.0,Engine Systems,106.0,Lubrication Services,389.0,Oil Change,N,NaN,NaN,NaN,Y,R,N,2018,03

In [14]:
#filter new training set and testing set for the table with start date and end date
from sklearn.model_selection import train_test_split

#data = pd.read_csv('StartMonth_StartYear-EndMonth_Year.csv')
data = pd.read_csv('Feb_2016-Mar_2018.csv')

def split_dataset(data,train_size):
    train_data, test_data = train_test_split(data, train_size = train_size, random_state = 123)
    return train_data, test_data

training,testing = split_dataset(data,0.7)

/Users/alvin.nebula23/opt/anaconda3/envs/teams1_env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (11,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
training.to_csv("train_Feb_2016-Mar_2018.csv",index = False)
testing.to_csv("test_Feb_2016-Mar_2018.csv",index = False)