In [56]:
import pandas as pd 
import numpy as np

In [32]:
data = pd.read_csv('../../JanOct16_trimmed.csv', index_col = 0, nrows = 100000)

In [33]:
data.shape

(100000, 31)

In [34]:
pd.set_option('display.max_columns', 500)

## constants to play with

In [75]:
# cutoff_store_trans = 200 # cutoff for transactions per store
# cutoff_store_tires_trans = 30 # cutoff for tires transaction per store

In [35]:
data.head()

,Unnamed: 0.1,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER
0,0,20869,991975080,2016-01-17,7013632,277902102.0,945291489,0.0,51.96,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,147.0,Balance,N,NaN,NaN,NaN,Y,R,N
1,1,20869,991975080,2016-01-17,7015016,277902102.0,945291489,0.0,0.00,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,139.0,Tire Mounting,N,NaN,NaN,NaN,Y,R,N
2,2,20869,991975080,2016-01-17,7097782,277902102.0,945291489,0.0,63.80,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,5.0,Tires,20158.0,Road Hazard,20159.0,Road Hazard,20160.0,Road Hazard,N,NONE,NONE,NONE,Y,R,N
3,3,20869,991975080,2016-01-17,7004578,277902102.0,945291489,0.0,84.99,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,4.0,Services,83.0,Steering/Suspension/Drivetrain,96.0,Alignments,49083.0,Alignment Service,N,NaN,NaN,NaN,Y,R,N
4,4,20869,991975080,2016-01-17,2809,277902102.0,945291489,4.0,373.96,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,5.0,Tires,26.0,Passenger Tires,30.0,P Metric Light Truck Tires,42.0,All Terrain Tires,N,265,70,16,Y,R,N

In [ ]:
col_to_drop = ['TRAN_ID', ]

In [36]:
df = data.iloc[:, 1:]

In [37]:
df.head()

,STORE_ID,TRAN_ID,DATE,ARTICLE_ID,INDIV_ID,VEHICLE_ID,UNITS,SALES,STATE_CODE,ZIP_CODE,MSA,MAKE,MODEL,SUB_MODEL,MODEL_YEAR,PROD_GROUP_CODE,PROD_GROUP_DESC,CATEGORY_CODE,CATEGORY_DESC,SEGMENT_CODE,SEGMENT_DESC,CLASS_CODE,CLASS_DESC,DISCOUNT_FLAG,CROSS_SECTION,ASPECT_RATIO,RIM_SIZE,EMAIL_OPTIN_IND,AH1_RES_BUS_INDC,SUPP1_BUS_PANDER
0,20869,991975080,2016-01-17,7013632,277902102.0,945291489,0.0,51.96,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,147.0,Balance,N,NaN,NaN,NaN,Y,R,N
1,20869,991975080,2016-01-17,7015016,277902102.0,945291489,0.0,0.00,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,4.0,Services,62.0,Tire Services,91.0,Tire Services,139.0,Tire Mounting,N,NaN,NaN,NaN,Y,R,N
2,20869,991975080,2016-01-17,7097782,277902102.0,945291489,0.0,63.80,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,5.0,Tires,20158.0,Road Hazard,20159.0,Road Hazard,20160.0,Road Hazard,N,NONE,NONE,NONE,Y,R,N
3,20869,991975080,2016-01-17,7004578,277902102.0,945291489,0.0,84.99,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,4.0,Services,83.0,Steering/Suspension/Drivetrain,96.0,Alignments,49083.0,Alignment Service,N,NaN,NaN,NaN,Y,R,N
4,20869,991975080,2016-01-17,2809,277902102.0,945291489,4.0,373.96,TN,37221,"NASHVILLE,",GMC,K1500 SUBURBAN SLE,SLE,1997.0,5.0,Tires,26.0,Passenger Tires,30.0,P Metric Light Truck Tires,42.0,All Terrain Tires,N,265,70,16,Y,R,N

### Detecting the unique values for each column

In [41]:
for i in df.columns:
    print(f'({i} : {df[i].nunique()})')

(STORE_ID : 2116)
(TRAN_ID : 10841)
(DATE : 31)
(ARTICLE_ID : 2356)
(INDIV_ID : 9143)
(VEHICLE_ID : 9720)
(UNITS : 38)
(SALES : 5426)
(STATE_CODE : 48)
(ZIP_CODE : 1873)
(MSA : 307)
(MAKE : 56)
(MODEL : 1673)
(SUB_MODEL : 823)
(MODEL_YEAR : 46)
(PROD_GROUP_CODE : 3)
(PROD_GROUP_DESC : 3)
(CATEGORY_CODE : 15)
(CATEGORY_DESC : 15)
(SEGMENT_CODE : 43)
(SEGMENT_DESC : 44)
(CLASS_CODE : 140)
(CLASS_DESC : 136)
(DISCOUNT_FLAG : 3)
(CROSS_SECTION : 17)
(ASPECT_RATIO : 14)
(RIM_SIZE : 10)
(EMAIL_OPTIN_IND : 1)
(AH1_RES_BUS_INDC : 1)
(SUPP1_BUS_PANDER : 1)

In [83]:
top_stores_trans_list = df.STORE_ID.value_counts().nlargest(5).index

### Feature : is the store among the top performers regarding total number of transactions in general?

In [84]:
df['store_top_tran'] = np.where(df.STORE_ID.isin(top_stores_trans_list), 1, 0)

In [85]:
# sanity check
df['store_top_tran'].value_counts()

0    98834
1     1166
Name: store_top_tran, dtype: int64

### Feature : is the store among the top performers regarding total number of TIRES transactions ?

In [86]:
tires = df.query('PROD_GROUP_CODE == 5')

In [87]:
top_stores_tires_list = tires.STORE_ID.value_counts().nlargest(5).index

In [88]:
top_stores_tires_list

Int64Index([14893, 7277, 15849, 28398, 28703], dtype='int64')

In [89]:
df['store_top_tires_tran'] = np.where(df.STORE_ID.isin(top_stores_tires_list), 1, 0)

In [90]:
# sanity check

df['store_top_tires_tran'].value_counts()

0    99464
1      536
Name: store_top_tires_tran, dtype: int64